extends layout

include mixins/storecard
include mixins/paginationForm

block content
  .inner
    h2= title
    .musicstores
      each music in stores
        +storeCard(music)
    +paginationForm(page, pages, count)
      
  
